body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
font-size: 24px;
color: #337ab7;
margin-bottom: 20px;
}

h3 {
font-size: 16px;
color: #666;
margin-bottom: 10px;
}

table {
width: 100%;
border-collapse: collapse;
margin-bottom: 20px;
}

th,
td {
padding: 8px;
text-align: left;
border-bottom: 1px solid #ddd;
}

th {
background-color: #f5f5f5;
font-weight: bold;
}

input[type="int"] {
padding: 8px;
border: 1px solid #ddd;
border-radius: 4px;
margin-bottom: 10px;
}

button {
background-color: #337ab7;
color: #fff;
border: none;
border-radius: 5px;
padding: 10px 20px;
font-size: 16px;
cursor: pointer;
}

button:hover {
background-color: #286090;
}

.container {
max-width: 800px;
margin: 0 auto;
padding: 20px;
text-align: center;
}

.btn-return {
background-color: #337ab7;
color: #fff;
border: none;
border-radius: 5px;
padding: 10px 20px;
font-size: 16px;
cursor: pointer;
margin-bottom: 20px;
}

.main-header {
background-color: #337ab7;
color: #fff;
padding: 20px;
text-align: center;
margin-bottom: 20px;
}

.main-header h1 {
margin: 0;
font-size: 24px;
}

.main-content {
margin-top: 20px;
}

input[type="text"] {
padding: 8px;
border: 1px solid #ddd;
border-radius: 4px;
margin-bottom: 10px;
}
