body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor_todo {
    width: 400px;
    background-color: #fff;
    border-radius: 5px;
    padding: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.registrosUser {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    color: #337ab7;
    margin-bottom: 20px;
    font-size: 24px;
}

h3 {
    color: #777;
    margin-bottom: 10px;
    font-size: 14px;
}

input {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #337ab7;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #286090;
}